.vs/
/SIENN.DbAccess/bin/Debug/netstandard2.0
/SIENN.DbAccess/obj
/SIENN.Dom/obj
/SIENN.Domain/obj
/SIENN.Services/obj
/SIENN.WebApi/obj
/SIENN.Domain/bin/Debug/netstandard2.0
/SIENN.Services/bin/Debug/netstandard2.0
/SIENN.WebApi/bin/Debug/netcoreapp2.0
